body {
    padding: 0;
    margin: 0;
}

::-ms-clear {
    display: none;
}
.action-btn-on-text-field {
    border: none;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 0;
    height: 32px;
    width: 32px;
    background-color: #0078d7;
    text-align: center;
    color: #fff;
    z-index: 3;
}

/*remove this*/
.action-btn-on-text-field-listName {
    border: none;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 0;
    height: 28px;
    width: 28px;
    background-color: transparent;
    color: #fff;
    z-index: 3;
}

#list-name-input-field {
    text-align: center;
    color: white;
    vertical-align: top;
    font-size: 18px;
    line-height: 18px;
}

.ms-ListItem-tertiaryTextCustom {
    color: #767676;
    font-size: 14px;
    position: relative;
    float: left;
    top: -3px;
    padding-right: 30px;
}

    .ms-ListItem-tertiaryTextCustom.strike-through {
        text-decoration: line-through;
    }

.ms-ListItem-selectionTarget {
    display: block;
}

.adjustCheckIconPosition.ms-ListItem.is-selected::before {
    top: 8px;
}

.adjustCheckIconPosition.ms-ListItem.is-selectable:hover:before {
    top: 8px;
}

.adjustDeleteIconPosition.ms-ListItem-actions {
    top: 8px;
    right: 16px;
}

.ms-ListItem.is-selectable.whiteBackground:hover{
    background-color:#DEECF9;
}
