/* Common app styling */
body, #app{
background-color:#EFEFEF;

}
input[type=text]::-ms-clear { display: none; }
#content-header {
    background: #2a8dd4;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Fixed header height */
    overflow: hidden; /* Disable scrollbars for header */
}

#content-main {
    background: #fff;
    position: fixed;
    top: 80px; /* Same value as #content-header's height */
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; /* Enable scrollbars within main content section */
}

.padding {
    padding: 15px;
}

#notification-message {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
}

    #notification-message #notification-message-header {
        font-size: medium;
        margin-bottom: 10px;
    }

    #notification-message #notification-message-close {
        background-image: url("../Images/Close.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }

body > div > div > div > ul li span.glyphicon-remove {
    float: right !important;
    margin-top: 5px;
    cursor: pointer !important;
}



body > div > div > div ul li span input[type="checkbox"] {
    margin-top: -50px;
    margin-right: 5px;
}


.float-right {
    float: right !important;
}

#app > div > nav > div > button {
    margin-right: 0.75em;
}

#app > div > div > div > div > div:nth-child(2) > ul > form {
    margin: 1em;
}

#app > div > div > div > div > div:nth-child(2) > ul > form > span > button {
    display: inline-block;
    position: relative;
    top: -35px;
    right: 5px;
    float: right;
    color: lightgreen;
}
#list > div.panel-heading > form > input {
    color:white;
}

#list > div.panel-heading > form > input: {
    text-shadow:2px 2px 0 #ccc;
}

  #list > div.panel-heading > form > button{
        background-color: transparent;
       padding:0;
       margin-top: 5px;
       right: 15px;
        color:lightgreen;
        outline: none;
    }


#app > div > div > div > div  ul  li  button {
    color: pink;
}

    #app > div > div > div > div  ul  li  button:hover {
        color: red;
    }

.strike-through {
text-decoration: line-through;
}
#list > div.panel-heading > form > button {
    position: relative;
    top: -35px;
}

.hide {
    display: none;
visibility: hidden !important;

}

.show {
visibility: visible !important;

}
.fade-enter {
  
  transition: all 0.5s linear;
  
}

.fade-enter.fade-enter-active {
    font-size: 1em;
    background-color:#deeffb;
}

.fade-leave {
    opacity: 1;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

    .fade-leave.fade-leave-active {
        opacity: 0.01;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        transition: all .5s linear;
        background-color: #e6d83c;
    }

.fade-appear {
    opacity: 0.01;
    

}

.fade-appear.fade-appear-active {
  opacity: 1;
}